# Python cache
__pycache__/
*.pyc
*.pyo

# Virtual environments
venv/
.env/
*.data/

# OS files
.DS_Store

# Editor / IDE
.vscode/
.idea/

# Logs
*.log

# Explicit large data files
data/data.pkl
data/reviews_segment.pkl
Outputs/
